name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install
    
    - name: Build `dualsense-ts`
      run: yarn build

    - name: Webpack `dualsense-ts`
      run: yarn webpack

    - name: Install example app dependencies
      run: yarn --cwd ./webhid_example install

    - name: Build example app
      run: yarn --cwd ./webhid_example build

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: Install
        run: yarn install

      - name: Lint
        run: yarn lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: Install
        run: yarn install

      - name: Test
        run: yarn coverage

  analyze:
    name: CodeQL analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript' ]
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'
        cache: 'yarn'

    - name: Install 
      run: yarn install

    - name: Build
      run: yarn build

    - name: Setup CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: ${{ matrix.language }}

    - name: Analyze
      uses: github/codeql-action/analyze@v2

  publish:
    needs: [build, lint, test, analyze]
    if: (github.ref == 'refs/heads/main') && needs.lint.result == 'success' && needs.test.result == 'success' && needs.analyze.result == 'success'
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          registry-url: https://registry.npmjs.org/
          cache: 'yarn'

      - name: Install `dualsense-ts` dependencies
        run: yarn install
      
      - name: Build
        run: yarn build

      - name: Install example app dependencies
        run: yarn --cwd ./webhid_example install

      - name: Build example app
        run: yarn --cwd ./webhid_example build

      - name: Discover Version
        id: determine_version
        uses: paulhatch/semantic-version@v4.0.2
        with:
          bump_each_commit: true
          short_tags: false
          major_pattern: "MAJOR"
          minor_pattern: "MINOR"
          format: "${major}.${minor}.${patch}"
     
      - name: Set Version
        run: yarn version --no-git-tag-version --no-commit-hooks --new-version ${{ steps.determine_version.outputs.version }}

      - name: Publish
        run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Tag & Release
        uses: avakar/tag-and-release@v1
        with:
          tag_name: ${{steps.determine_version.outputs.version}}
          release_name: ${{steps.determine_version.outputs.version}}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Deploy example app
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: webhid_example/build

  dependabot:
    needs: [build, lint, test, analyze]
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' && needs.lint.result == 'success' && needs.test.result == 'success' && needs.analyze.result == 'success'
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
